@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap");
/* IMPORTS */
@import "mixins";
@import "variables";

* {
  font-family: "Raleway", "Open Sans";
  color: $text_color;
}
.btn {
  @include btn;
}
.btn-primary {
  @include btn_primary;
}
strong {
  color: $power_color;
}
/* MAIN HEADER */
.masthead {
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    url(../images/Laptop_hands_grey.jpg);
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    url(../images/Laptop_hands_grey.jpg);
  background-position-x: center;
  background-position-y: center;
  h1,
  h3 {
    text-transform: uppercase;
  }
}
/* END OF MAIN HEADER*/
/* =========================================================== */
/* MENU */
.menu-toggle {
  background: none;
  border: 1px solid $main_color;
  &:hover {
    background: $main_color;
  }
  path {
    fill: $text_color;
    &:active {
      fill: $text_light;
    }
  }
  &:hover path {
    fill: $text_light;
  }
}
#sidebar-wrapper {
  background: $main_color;
}
.sidebar-nav > .sidebar-brand {
  background: $text_light;
  a {
    color: $text_color;
    &:hover {
      color: $power_color;
    }
  }
}
.sidebar-nav li.sidebar-nav-item a {
  color: $text_light;
}
/* MENU END */

/* ### ABOUT SECTION ### */
.about-section {
  min-height: 100vh;
}
.bg-light {
  background-color: $text_light !important;
}

/* ### SERVICES SECTION ### */
.bg-primary {
  background-color: $main_color !important;
}
.content-section-heading {
  .text-secondary {
    color: $power_color !important;
  }
  .services {
    color: $text_light;
    text-transform: uppercase;
  }
}
