@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap");
/* IMPORTS */
* {
  font-family: "Raleway", "Open Sans";
  color: #232323;
}

.btn {
  border: 3px solid #232323;
  border-radius: 0;
}

.btn-primary {
  color: #232323;
  font-weight: 800;
  background-color: #23232300;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-primary:hover {
  color: #ebebeb;
  font-weight: 800;
  background-color: #232323;
  border: 3px solid #232323;
}

strong {
  color: #d4b068;
}

/* ========================================================= */
/* ###========================== MAIN HEADER ==========================### */
.masthead {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url(../images/Laptop_hands_grey.jpg);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url(../images/Laptop_hands_grey.jpg);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url(../images/Laptop_hands_grey.jpg);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url(../images/Laptop_hands_grey.jpg);
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
}

.masthead h1,
.masthead h3 {
  text-transform: uppercase;
}

/* END OF MAIN HEADER*/
/* =========================================================== */
/* ###========================== MENU ==========================### */
.menu-toggle {
  background: none;
  border: 1px solid #232323;
}

.menu-toggle:hover {
  background: #232323;
}

.menu-toggle path {
  fill: #232323;
}

.menu-toggle path:active {
  fill: #ebebeb;
}

.menu-toggle:hover path {
  fill: #ebebeb;
}

#sidebar-wrapper {
  background: #232323;
}

.sidebar-nav > .sidebar-brand {
  background: #ebebeb;
}

.sidebar-nav > .sidebar-brand a {
  color: #232323;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #d4b068;
}

.sidebar-nav li.sidebar-nav-item a {
  color: #ebebeb;
}

/* MENU END */
/* ###========================== ABOUT SECTION ==========================### */
.about-section {
  min-height: 100vh;
}

.bg-light {
  background-color: #ebebeb !important;
}

h2 > span {
  color: #d4b068;
}

/* ###========================== SERVICES SECTION ==========================### */
.bg-primary {
  background-color: #232323 !important;
}

.content-section-heading .text-secondary {
  color: #d4b068 !important;
}

.content-section-heading .services {
  color: #ebebeb;
  text-transform: uppercase;
}

.service-icon {
  background-color: #ebebeb;
  width: 6rem;
  height: 6rem;
  line-height: 6.25rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 2rem !important;
}

.service-icon:hover {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
}

.service-icon path {
  fill: #232323;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service-icon:hover path {
  fill: #d4b068;
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
}

/* ###========================== SERVICES SECTION ==========================### */
/*# sourceMappingURL=custom.css.map */