@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap");

@import "variables";

* {
  font-family: "Raleway", "Open Sans";
  color: $color_eerie_black;
}
.masthead {
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    url(../images/Laptop_hands_grey.jpg);
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    url(../images/Laptop_hands_grey.jpg);
  background-position-x: center;
  background-position-y: center;
  h1,
  h3 {
    text-transform: uppercase;
  }
  .btn {
    border: 3px solid $color_eerie_black;
    border-radius: 0;
  }
  .btn-primary {
    color: $color_eerie_black;
    font-weight: 800;
    background-color: $color_transparent_black;
    &:hover {
      color: $color_platinum;
      font-weight: 800;
      background-color: $color_eerie_black;
    }
  }
}
